<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>addravatar</title>
</head>
<body style="display: flex; flex-direction: column; align-items: center;">
  <div><img alt="avatar" style="width: 40vw;" src=<%=`data:image/png;base64,${data}`%>></div>
</body>
</html>